/* ===========
    BASICK SETUP
    ============ */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    /* clear: both; */
    /* position: absolute; */
    font-family:'Titillium Web' , sans-serif ;
}

ul li{
    list-style-type: none;
}
/* ===========
    REUGEBUL PORPERTY 
==============*/
.row{
    clear: both;
    /* position: absolute; */
    /* height: 200px; */
    /* max-width: 1140px;
    margin: 0 auto; */
}
.btn{
    border:none;
    font-size: 18px;
    padding: 19px 25px;
    border-radius: 6px;
    cursor:pointer;
    outline: none;
    text-align:center;
}

/* Heading 1  */
h1{
    color:#f7f3ea;
    font-size: 42.16px;
    font-family:'TitilliumWeb';
}


/* ===========
        HEARDER PART
    ============ */
section{
    min-height: 130vh;
    clear: both;
}
    
#frist-section{   
    background:linear-gradient(rgba(135, 2, 187, 0.719) ,rgba(135, 2, 187, 0.719)), url(image/bg2.jpg)  ;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}  
.logo{
    height: 48px;
    /* width: auto; */
    float: left;
    margin: 10px 0px 0px 30px;
    /* clear: both; */
}

/* navigation part */

.menu{
    /* right: 1px; */
    float: right;
    margin-top: 30px;
    /* justify-content: right; */
    
    /* clear: both; */
}
.menu li{
    display: inline-block;
    margin-left: 12px;
    
   
}

.menu li:first-child{
    margin-left: 0;
}

.menu li a:link,
.menu li a:visited{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}
.menu li:hover a:link,
.menu li:hover a:visited{
    background-color: #643a79;
}
.menu li a.active{
    background-color: #643a79;
}
/* header 2n part */

.hero-text-box{
    position: absolute;
    top:60%;
    left: 55%;    
    transform: translate(-50%,-40%);
    clear: both;
    min-width: 500px;
    
    
}
#work-us-btn{
  margin:  50px;
}

.hero-text-box .btn-hero{
   /* margin: 0 auto; */
   background-color: #eb7d4b;
   color: #f6c9b9;
   
   /* margin-right: 50%; */
   /* justify-content: center;
   align-items: center; */
  
}
.btn:hover{
    background-color: #a74213;
}

/* bg main div part  */
.bg-main-div{
    /* position: relative; */
    background-image:linear-gradient(rgba(23, 194, 163, 0.582) ,rgba(23, 194, 163, 0.582)), url(image/bg1.jpg)  ;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position:center center ;
    background-size: cover;
    clear: both;
    padding-bottom: 150px;
 
    
}


.text_hero{
    text-align: center;
    /* position:relative;
    top:55px; */
    padding-top:40px;
    
}
hr{
    width: 120px;
    height:5px;
    background-color: #1b3a35;
    border: none;
    border-radius: 10px;
    position: relative;
    top:100%;
    left:50%;
    transform: translate(-50%, -100%);
    margin-top: 30px;
   
}
.hero_head{
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    font-size: 20px;
    
}
.grid_text_div{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding-top: 20px;
    text-align: center;
    
} 
.grid-item .heading3{
    box-sizing: border-box;
    margin-top: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 23px;
}

.grid-item p{
    box-sizing: border-box;
    color: #ffffff;
    margin-top: 19px;
}
.grid-item img{
    box-sizing: border-box;
    height: 50%;
    clear: both;
}
/* team part start*/

.team_part{
    /* position: relative; */
    background:linear-gradient(rgba(231, 241, 248, 0.856) ,rgba(231, 241, 248, 0.842)), url(image/pexels-fauxels-3184360.jpg)  ;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position:center center ;
    background-size: cover;
    clear: both;
}
.team_text_part{
    padding: 45px 0;
    text-align: center;
    color: #3c4761;
}
.team_heading_tag{
    margin-top: 20px;
}
.team_item{
    box-sizing: border-box;
    min-width: 200px;
    

}
.team_grid_part{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 9px;
}
    


/* team grid image */
.team_grid_part .tream_img{
   height: 30%;
    width: 30%;
    border-radius: 50%;

    
}
.team_heading5{
    color: #17a6da;
}
.team_para{
    color: #445269;
    margin-top: 20px;
}

/* socail link */
.team_social_link{
    padding:23px 0px 45px 0px;
   
}

.team_social_link ul {
   clear: both;
   overflow: hidden;
}
.team_social_link ul li {
   display: inline;
   
}
.team_social_link ul li a img{
    margin-top: 5px;
    background-color: #bdd1df;
    color: #ffffff;
    border-radius: 50%;
}

/* skill part start */
.skill_part_start{
    position: relative;
    background: linear-gradient(rgba(255, 250, 250, 0.938),rgba(238, 234, 234, 0.925)), url(image/skill-development.jpg) ;
    background-position: center bottom;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
     padding: 60px 0px;
}
.skill_part_text{
    text-align: center;
   

}
.skill_part_text .skill_heading_tag{
        font-size: 35px;
        color:#3c4761 ;
}
.skill_part_text  p{
 color: #3c4761;
 font-size: 18px;
 padding: 30px 0;
}

/* progress var  */

.skill_part_progress_var{
  display: grid;
  grid-template-columns: auto auto;
  padding: 90px 0px;
  max-width:670px ;
  margin: 0 auto;

}
#individul-progress-bar{
    padding:40px 0px ;
}
.skill{
  margin: 0 50px;

}
/* circle progress var start */
.skill{
  width: 160px;
  height: 160px;
  /* background: chartreuse; */
  position: relative;
}
.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  /* border: 1px solid red; */
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15) ,
              -6px -6px 10px -1px rgba(255,255,255,0.7);


}
.inner{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05) ;

}
#number{
  font-weight: 500px;
  color: #555;
  font-size: 40px;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
/* circle 1 */
circle{
  fill: none; 
  /* stroke: url(#circle1); */
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
 
}

#circle1{
  animation: circle1 2s linear forwards;
}
@keyframes circle1{
  100%{
      stroke-dashoffset: 147;
  }
}
#circle2{
  animation: circle2 2s linear forwards;
}
@keyframes circle2{
  100%{
      stroke-dashoffset: 165;
  }
}

#circle3{
  animation:circle3 2s linear forwards;
}
@keyframes circle3{
  100%{
      stroke-dashoffset: 165;
  }
}

#circle4{
  animation: circle4 2s linear forwards;
}
@keyframes circle4{
  100%{
      stroke-dashoffset: 165;
  }
}


/* protfolio part start */
.protfolio_part{

    background:linear-gradient(rgba(255, 221, 153, 0.534) , rgba(255, 221, 153, 0.534)) , url(image/protfolio-image.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    /* max-width: 700px;
    margin: 0 auto; */

}
.protfolio-text{    
   text-align: center;
}
.btn_div{
    padding: 20px 0px;
}
.btn_div button{
    border: none;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    background-color:#ebc985  ;
    display: inline-block;
   border-radius: 3px;
   
}
.btn_div button a{
    text-decoration: none;
    color:#474747 ;
    font-size: 18px;
}

.btn_div button:hover{
    background-color: #ffffff;
}

.protfolio-image{
    box-sizing: border-box;
    padding: 59px 0px;
   display: block;
   
   margin: 0 auto;
}
.first-image{
    padding-bottom: 67px;
}
/* protfolio-last-button */
.protfolio-last-button{
    display: block;
    margin: 0 auto;
    padding: 25px 46px ;
    text-align: center;
    font-size: 18px;
    background-color: #17c2a4;
    color: #f2f2f2;
    border: none;
   border-bottom: 4px solid #14a58c;
   border-radius: 5px;
}

